input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

table {
  background-color: darkolivegreen;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  table-layout: fixed;
}

td > input,
td > select {
  height: 100%;
  width: 95%;
  min-height: 4rem;
}

td {
  padding: 5px;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: gray;
}
tbody tr:nth-child(odd) {
  background: bisque;
}
tfoot th {
  text-align: right;
}
